In [21]:
import pandas as pd
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="my-app")
df=pd.read_csv('zipcode.csv',skiprows=[0])
zip_codes=df
df_pivot = df.pivot(index=None, columns='80302')

# display the pivoted DataFrame
print(df_pivot)
zip_codes

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[43658 rows x 0 columns]

       80302
0      80302
1      80301
2      80302
3      80305
4      80301
...      ...
43653  80303
43654  80302
43655  80302
43656  80303
43657  80302

[43658 rows x 1 columns]

In [38]:
def get_lat_long(zip_code):
    location = geolocator.geocode(str(zip_code) + ', Colorado')
    if location:
        return location.latitude, location.longitude
    else:
        return None, None


get_lat_long(80305)

(39.98629882097501, -105.25153081114297)